/* Standard Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

/* general */

html {
    font-size: 62.5%;
}

body {
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

/* header */
header {
    z-index: 999;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E3B448;
}

header .container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 80%;
    width: auto;
    border-radius: 10px;
    margin: 0 3%;
}

header h1 {
    text-align: center;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav div {
    align-items: center;
    background-color: #3A6B35;
    border-radius: 10px;
    margin: 0 3%;
}

header a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 10px;
}

header a:hover {
    color: #3A6B35;
    background-color: white;
}

/* spotlight section */
#spotlight {
    background-color: #CBD18F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#spotlight img {
    margin: 2%;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .5);
}

#spotlight .container {
    margin: 0 5%;
}

#spotlight h2 {
    font-size: 2.5rem;
    margin-bottom: 2%;
}

#spotlight a {
    text-decoration: none;
    background-color: #E3B448;
    color: black;
    padding: 8px 8px;
    border-radius: 10px;
}

#spotlight a:hover {
    color: white;
}

#spotlight p {
    margin-top: 3%;
    font-size: 1.7rem;
}

#spotlight span {
    font-weight: bold;
}
/* gallery */



/* footer */
