/* Standard Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

/* general */

html {
    font-size: 62.5%;
}

body {
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

/* header */
header {
    z-index: 999;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E3B448;
}

header .container {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

header img {
    height: 12vh;
    border-radius: 10px;
    margin: 0 3% 0 4%;
}

header h1 {
    text-align: center;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav div {
    align-items: center;
    background-color: #3A6B35;
    border-radius: 10px;
    margin: 0 3%;
}

header a {
    text-decoration: none;
    color: #F0ECEC;
    display: flex;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 10px;
}

header a:hover {
    color: #3A6B35;
    background-color: #F0ECEC;
}

/* spotlight section */
#spotlight {
    background-color: #CBD18F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#spotlight .pc {
    margin: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .5);
}

#spotlight .tablet, #spotlight .mobile {
    display: none;
    margin: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .5);
}

#spotlight .container {
    margin: 0 5%;
}

#spotlight h2 {
    font-size: 2.5rem;
    margin-bottom: 2%;
}

#spotlight a {
    text-decoration: none;
    background-color: #E3B448;
    color: black;
    padding: 8px 8px;
    border-radius: 10px;
}

#spotlight a:hover {
    color: #F0ECEC;
}

#spotlight p {
    margin-top: 3%;
    font-size: 1.7rem;
}

#spotlight span {
    font-weight: bold;
}


/* gallery */
#gallery {
    background-color: #F0ECEC;
}

#gallery .desktop, #gallery .mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#gallery .desktop div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    margin: 2% 2.5%;
}

#gallery .mobile {
    display: none;
}

#gallery img {
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .5);
}

#gallery h3 {
    margin-top: 3%;
}


/* footer */
footer {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E3B448;
}

footer h2 {
font-weight: bold;
font-size: 2rem;
margin-bottom: 10%;
}

footer .footerContact {
    text-decoration: none;
    color: #F0ECEC;
    display: flex;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #3A6B35;
}

footer .footerContact:hover {
    color: #3A6B35;
    background-color: #F0ECEC;
}

footer .social {
    /* align-self:flex-end; */
}

footer i {
    color: black;
}

footer i:hover {
    color:  #0072b1;
}

@media(max-width: 1100px) {
    header .container {
        width: 60%;
    }
}

@media(max-width: 1000px) {
    #spotlight {
        height: 50vh;
    }
    
    #spotlight .pc {
        display: none;
     }
 
     #spotlight .mobile {
         display: flex;
     }
     
     #spotlight .container {
         margin: 0 5%;
     }
}

@media(max-width: 900px) {
    header .container {
        width: 50%;
    }

    header nav {
        width: 50%;
    }

    #spotlight {
        flex-direction: column;
        height: 70vh;
    }

    #spotlight .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
} 

@media(max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 30vh;
    }

    header .container {
        width: 80%;
    }

    #spotlight .tablet {
        display: none;
    }

    #spotlight .mobile {
        display: flex;
    }
}

@media(max-width: 650px) {
    header {
        height: 35vh;
    }

    header .container {
        width: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: space-around;
    }

    #gallery .desktop div {
        width: 200px;
    }
}

@media(max-width: 501px) {
    #gallery .desktop {
        display: none;
    }

    #gallery .mobile {
        display: flex;
    }

    #gallery .mobile div {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100px;
        margin: 2% 10%;
    }
}